.iconoFooter{
    font-size: 20px;
    padding: 2em;
}
.iconoFooter:last-child:hover{
    color:$amarillo;
}
.iconoFooter:first-child{
    color: $blanco;
}
.iconoFooter:last-child{
    color:$dorado;
}

.iconoFooter:first-child:hover{
    color:$negro;
}
.bordeIconos{
    border: solid 2px white;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.administrador{
    font-size: 20px;
}

.iconosContacto{
    width: 30px;
}

#luna:hover{
    color: $negro;
}
#luna:active{
    opacity: 1;
}


#sol:hover{
    color: $amarillo;
}