@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
/*Importado google-fonts */

h1{
    font-family: 'Roboto', sans-serif;
}

/* Colores */

.li-ruleta:first-child .texto-ruleta{
    background-color: violet;
}
.li-ruleta:nth-child(2) .texto-ruleta{
    background-color: indigo;
}
.li-ruleta:nth-child(3) .texto-ruleta{
    background-color: blue;
}
.li-ruleta:nth-child(4) .texto-ruleta{
    background-color: green;
}
.li-ruleta:nth-child(5) .texto-ruleta{
    background-color:yellow;
}
.li-ruleta:nth-child(6) .texto-ruleta{
    background-color:orange;
}
.li-ruleta:nth-child(7) .texto-ruleta{
    background-color:red;
}
.li-ruleta:nth-child(8) .texto-ruleta{
    background-color:violet;
}
.li-ruleta:nth-child(9) .texto-ruleta{
    background-color:indigo;
}
.li-ruleta:nth-child(10) .texto-ruleta{
    background-color:blue;
}
.li-ruleta:nth-child(11) .texto-ruleta{
    background-color: green;
}
.li-ruleta:nth-child(12) .texto-ruleta{
    background-color:yellow;
} 

/* Rotaciones de partes*/

.li-ruleta:first-child{
    transform: rotate(0deg) skewY(-60deg);
}
.li-ruleta:nth-child(2){
    transform: rotate(30deg) skewY(-60deg);
}
.li-ruleta:nth-child(3){
    transform: rotate(60deg) skewY(-60deg);
}
.li-ruleta:nth-child(4){
    transform: rotate(90deg) skewY(-60deg);
}
.li-ruleta:nth-child(5){
    transform: rotate(120deg) skewY(-60deg);
}
.li-ruleta:nth-child(6){
    transform: rotate(150deg) skewY(-60deg);
}
.li-ruleta:nth-child(7){
    transform: rotate(180deg) skewY(-60deg);
}
.li-ruleta:nth-child(8){
    transform: rotate(210deg) skewY(-60deg);
}
.li-ruleta:nth-child(9){
    transform: rotate(240deg) skewY(-60deg);
}
.li-ruleta:nth-child(10){
    transform: rotate(270deg) skewY(-60deg);
}
.li-ruleta:nth-child(11){
    transform: rotate(300deg) skewY(-60deg);
}
.li-ruleta:nth-child(12){
    transform: rotate(330deg) skewY(-60deg);
} 

/* Circulo contenedor */

 .circulo{
    width: 25em;
    height: 25em;
    border: 1px solid black;
    position: relative;
    padding: 0;
    margin: 1em auto;
    border-radius: 50%;
    list-style: none;
    overflow: hidden;
}

.li-ruleta{
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    transform-origin: 0% 100%;
}
.texto-ruleta{
    position: absolute;
    left: -100%;
    width: 200%;
    height: 200%;
    text-align: center;
    display: block;
    transform: skewY(60deg) rotate(15deg);
    padding-top: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}
.flecha-ruleta{
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 50px solid black;
    position: absolute;
    left: 50%;
    z-index: 1;
}

.iniciar-rotacion{
    animation: iniciar-rotacion 1s linear infinite;
}

@keyframes iniciar-rotacion {
    100%{
        transform: rotate(360deg);
    }
}

.detener-rotacion{
    animation-play-state: paused;
} 