.cursoContainer {
  background-color: rgba(103, 58, 183, 0.3);
  border-radius: 1em;
  padding-bottom: 0.8em;
  margin-top: 1em;

}

.curso {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.329), 0 6px 20px 0 rgba(0, 0, 0, 0.301);
  /* background-color: rgba(216, 247, 244, 0.918); */
  background-color: rgba(228, 230, 235, 0.719);
  min-height: 50vh;
  min-width: 50vh;
  border-radius: 20px;

}
.contenido {
  min-height: 40vh;
}

.imagen-pregunta {
  height: 200px;
  width: auto;
}
.respuesta_correcta {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: rgba(47, 240, 30, 0.6);
  min-height: 10vh;
  border-radius: 20px;
}
.respuesta_incorrecta {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: rgba(248, 83, 83, 0.6);
  min-height: 10vh;
  border-radius: 20px;
}
