@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
html {
  height: 100%;
}

.container {
  min-width: 100%;
  margin-top: 20px;
}

.picture-coach {
  height: 30vh;
  width: 35vh;
}
.picture-knowledge {
  height: 30vh;
  width: 30vh;
}
.panel {
  /*   display: flex; */
  background-color: rgba(34, 51, 68, 0.534);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #fff;
  transition: transform 0.2s;
  margin: 30px 10px;
  border-radius: 0.5em;
}

img .imagen-pregunta{
  width: 400px;
}

