.home{
    width: 300px;
}

.button1{
    background-color:#26c6da     ;
    color: white  ;
}

.button1:hover{
    background-color: #0091ea  ;
    color: white ;

    
}

.button2{
    background-color:#00c853  ;
    border-color: #66bb6a  ;
    color: white ;
 
}

.button2:hover{
    background-color:#66bb6a ;
    color:white;

}