.home{
    width: 300px;
}

.button1{
    background-color:#26a69a;
    color: #f5f5f5 ;

}

.button1:hover{
    background-color: #00bfa5;
    
}

.button2{
    background-color:#f4511e  ;
    color: #f5f5f5 
}

.button2:hover{
    background-color:#ff7043 ;
}