form {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(114, 163, 243, 0.25);;
    /* background-color: #00BCD4; */
    border-radius: 20px;

    body.dark & {
      color: white;
    }
  }